.card-container {
    position: relative;
   
    margin: 30px;

    .hov1:hover {
        background-color: #677788;
        color: #242e38;
        button {
            width: 70%;
            height: 20px;
            margin: 2px;
            border: none;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 12px;
            background-color: #7e92a8;
            background-image: linear-gradient(to right, #6b7f94 50%, transparent 50%);
            background-position: 100% 0%;
            background-size: 200% 100%;
            transition: 0.5s;
        }

        & button:hover {
            color: white;
            background-position: 0% 50%;
            cursor: pointer;
        }
        #chordify {
            height: 100px;
            width: 200px;
            filter: brightness(180%);
        }
    }
    .hov2:hover {
        background-color: #1f252b;
        color: #11b911;
        button {
            width: 70%;
            height: 20px;
            margin: 2px;
            border: none;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 12px;
            background-color: #11b911;

            background-image: linear-gradient(to right, #068806 50%, transparent 50%);
            background-position: 100% 0%;
            background-size: 200% 100%;
            transition: 0.5s;
        }

        & button:hover {
            color: white;
            background-position: 0% 50%;
            cursor: pointer;
        }
        #lyricly {
            height: 120px;
            width: 120px;
            filter: brightness(180%);
            filter: contrast((120%));
        }
    }
    .hov3:hover {
        background-color: #333baa;
        color: #fdfcfc;
        button {
            width: 70%;
            height: 20px;
            margin: 2px;
            border: none;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 12px;
            background-color: #ffffff;
            background-image: linear-gradient(to right, #75a4d6 50%, transparent 50%);
            background-position: 100% 0%;
            background-size: 200% 100%;
            transition: 0.5s;
        }
        & button:hover {
            color: white;
            background-position: 0% 50%;
            cursor: pointer;
        }
        #audiovis {
            height: 120px;
            width: 120px;
            filter: brightness(180%);
            filter: contrast((120%));
        }
    }

    .hov4:hover {
        background-color: #489ffc;
        color: #fdfcfc;
        button {
            width: 70%;
            height: 20px;
            margin: 2px;
            border: none;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 12px;
            background-color: #ffffff;
            background-image: linear-gradient(to right, #64acfa 50%, transparent 50%);
            background-position: 100% 0%;
            background-size: 200% 100%;
            transition: 0.5s;
        }
        & button:hover {
            color: white;
            background-position: 0% 50%;
            cursor: pointer;
        }
        #onlinewhite {
            height: 100px;
            width: 200px;
            filter: contrast(150%);
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 350px;
        width: 250px;
        border-radius: 10px;
        top: 0px;
        min-width: 200px;
        transition: all 0.5s;
        background-color: #313742;
        box-shadow: -2px 3px 5px #161616;

        .image-box {
            display: flex;
            justify-content: center;
            position: absolute;
            z-index: 1000;
            width: 100%;
            top: 45%;
            transition: 0.5s;
            transform: translateY(-70%);

            #chordify {
                height: 90px;
                width: 180px;
                margin-bottom: 5px;
                transition: 0.5s ease;
                filter: brightness(130%);
            }

            #lyricly {
                position: relative;
                top:0px;
                height: 140px;
                width: 140px;
                margin-bottom: 5px;
                transition: 0.5s ease;
                filter: brightness(110%);
            }
            #audiovis{
                position: relative;
                top:0px;
                height: 140px;
                width: 140px;
                margin-bottom: 5px;
                transition: 0.5s ease;
                filter: brightness(110%);
            }
            #onlinewhite {
                height: 90px;
                width: 170px;
                margin-bottom: 5px;
                transition: 0.5s ease;
                filter: brightness(130%);
            }
        }

        .content-box {
            display: flex;
            flex-direction: column;
            justify-content:flex-end;
            font-family: "Oswald", sans-serif;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: 0.5s;
            transform: translateY(-10%);

            p {
                color:white;
                position: relative;
                top: 65px;
                font-size: 45px;
                transition: ease 0.5s;
                margin-bottom: 5px;
            }

            .button-group {
                position: relative;
                top: 30px;
                margin-bottom: 12px;
                opacity: 0;
                visibility: hidden;
                transition: 0.2s ease-out;
            }
            button {
                width: 70%;
                height: 25px;
                margin: 2px;
                border: none;
                font-size: 12px;
                text-transform: uppercase;
                text-decoration: none;
                line-height: 12px;
                transition: 0.5s;
            }
        }

        &:hover {
            top: -20px;
            width: 335px;
            height: 380px;
            p {
                top: -20px;
                font-size: 50px;
            }

            .image-box {
                top: 7%;
                transform: translateY(0%);
                #chordify {
                    height: 110px;
                    width: 210px;
                    
                }
    
                #lyricly {
                    position: relative;
                    top:-22px;
                    height: 150px;
                    width: 150px;
               
                }
                #onlinewhite {
                    height: 120px;
                    width: 200px;
               
               
                }
            }
            .button-group {
                top: 0px;
                opacity: 1;
                visibility: visible;
                transition-delay: 0.1s;
            }
        }
    }

    // MODAL SCSS
    .modal {
        position: fixed; /* Stay in place */
        z-index: 10000; /* Sit on top */
        display: flex;
        justify-content: center;
        padding-top: 20%; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.315); /* Black w/ opacity */
        .modal-content {
            font-family: "Oswald", sans-serif;
            background-color: #3a3e47;
            display: flex;
            flex-direction: column;


            border: 1px solid rgb(90, 90, 90);
            width: 60%;
            height: 35%;
            border-radius: 10px;
            box-shadow:7px 10px 15px rgba(22, 22, 22, 0.671);

            .info-area{
                display: flex;
                height: 100%;
                width: 100%;
                flex-direction: row;
                align-items: center;
                color:rgb(233, 233, 233);
            
                img{
                    display:flex;
                    justify-self: center;
                    align-self: center;
                    border-top-left-radius: 10px;
                    text-align: center;
                    border-bottom-left-radius: 10px;
                    width:60%;
                    height: 100%;
                    &:before{
                        background-color: black;
                        display: flex;
                        font-size: 30px;
                        opacity: 0.4;
                        justify-content: center;
                        text-align: center;
                        align-items: center;
                        width: 100%;
                    }
                }
              
                .description{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                  
                    height: 100%;
                    width: 40%;
                    h3{
                        text-align: center;
                    }
                    .tech{
                        display: flex;
                        justify-content: space-between;
                        width: 80%;
                        img{
                            width: 30px;
                            height: 30px;
                        
                        }
    
                    }
                  
                    p{
                        width: 80%;
                    }
                }
    
            }
          }
          .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            &:hover, &:focus{
            color: #000;
            text-decoration: none;
            cursor: pointer;
            }
          }

      }
   
}
