.card-container {
  position: relative;
  margin: 30px;
}

.card-container .hov1:hover {
  background-color: #677788;
  color: #242e38;
}

.card-container .hov1:hover button {
  width: 70%;
  height: 20px;
  margin: 2px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 12px;
  background-color: #7e92a8;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #6b7f94), color-stop(50%, transparent));
  background-image: linear-gradient(to right, #6b7f94 50%, transparent 50%);
  background-position: 100% 0%;
  background-size: 200% 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-container .hov1:hover button:hover {
  color: white;
  background-position: 0% 50%;
  cursor: pointer;
}

.card-container .hov1:hover #chordify {
  height: 100px;
  width: 200px;
  -webkit-filter: brightness(180%);
          filter: brightness(180%);
}

.card-container .hov2:hover {
  background-color: #1f252b;
  color: #11b911;
}

.card-container .hov2:hover button {
  width: 70%;
  height: 20px;
  margin: 2px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 12px;
  background-color: #11b911;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #068806), color-stop(50%, transparent));
  background-image: linear-gradient(to right, #068806 50%, transparent 50%);
  background-position: 100% 0%;
  background-size: 200% 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-container .hov2:hover button:hover {
  color: white;
  background-position: 0% 50%;
  cursor: pointer;
}

.card-container .hov2:hover #lyricly {
  height: 120px;
  width: 120px;
  -webkit-filter: brightness(180%);
          filter: brightness(180%);
  -webkit-filter: contrast(120%);
          filter: contrast(120%);
}

.card-container .hov3:hover {
  background-color: #333baa;
  color: #fdfcfc;
}

.card-container .hov3:hover button {
  width: 70%;
  height: 20px;
  margin: 2px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 12px;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #75a4d6), color-stop(50%, transparent));
  background-image: linear-gradient(to right, #75a4d6 50%, transparent 50%);
  background-position: 100% 0%;
  background-size: 200% 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-container .hov3:hover button:hover {
  color: white;
  background-position: 0% 50%;
  cursor: pointer;
}

.card-container .hov3:hover #audiovis {
  height: 120px;
  width: 120px;
  -webkit-filter: brightness(180%);
          filter: brightness(180%);
  -webkit-filter: contrast(120%);
          filter: contrast(120%);
}

.card-container .hov4:hover {
  background-color: #489ffc;
  color: #fdfcfc;
}

.card-container .hov4:hover button {
  width: 70%;
  height: 20px;
  margin: 2px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 12px;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #64acfa), color-stop(50%, transparent));
  background-image: linear-gradient(to right, #64acfa 50%, transparent 50%);
  background-position: 100% 0%;
  background-size: 200% 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-container .hov4:hover button:hover {
  color: white;
  background-position: 0% 50%;
  cursor: pointer;
}

.card-container .hov4:hover #onlinewhite {
  height: 100px;
  width: 200px;
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}

.card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 350px;
  width: 250px;
  border-radius: 10px;
  top: 0px;
  min-width: 200px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #313742;
  -webkit-box-shadow: -2px 3px 5px #161616;
          box-shadow: -2px 3px 5px #161616;
}

.card-container .card .image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 45%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

.card-container .card .image-box #chordify {
  height: 90px;
  width: 180px;
  margin-bottom: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.card-container .card .image-box #lyricly {
  position: relative;
  top: 0px;
  height: 140px;
  width: 140px;
  margin-bottom: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.card-container .card .image-box #audiovis {
  position: relative;
  top: 0px;
  height: 140px;
  width: 140px;
  margin-bottom: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.card-container .card .image-box #onlinewhite {
  height: 90px;
  width: 170px;
  margin-bottom: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.card-container .card .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Oswald", sans-serif;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.card-container .card .content-box p {
  color: white;
  position: relative;
  top: 65px;
  font-size: 45px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  margin-bottom: 5px;
}

.card-container .card .content-box .button-group {
  position: relative;
  top: 30px;
  margin-bottom: 12px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.card-container .card .content-box button {
  width: 70%;
  height: 25px;
  margin: 2px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-container .card:hover {
  top: -20px;
  width: 335px;
  height: 380px;
}

.card-container .card:hover p {
  top: -20px;
  font-size: 50px;
}

.card-container .card:hover .image-box {
  top: 7%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.card-container .card:hover .image-box #chordify {
  height: 110px;
  width: 210px;
}

.card-container .card:hover .image-box #lyricly {
  position: relative;
  top: -22px;
  height: 150px;
  width: 150px;
}

.card-container .card:hover .image-box #onlinewhite {
  height: 120px;
  width: 200px;
}

.card-container .card:hover .button-group {
  top: 0px;
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.card-container .modal {
  position: fixed;
  /* Stay in place */
  z-index: 10000;
  /* Sit on top */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.315);
  /* Black w/ opacity */
}

.card-container .modal .modal-content {
  font-family: "Oswald", sans-serif;
  background-color: #3a3e47;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 690px;
  border: 1px solid #5a5a5a;
  width: 60%;
  height: 35%;
  border-radius: 10px;
  -webkit-box-shadow: 7px 10px 15px rgba(22, 22, 22, 0.671);
          box-shadow: 7px 10px 15px rgba(22, 22, 22, 0.671);
}

.card-container .modal .modal-content .info-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e9e9e9;
  min-width: 690px;
}

.card-container .modal .modal-content .info-area img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-top-left-radius: 10px;
  text-align: center;
  border-bottom-left-radius: 10px;
  width: 60%;
  height: 100%;
}

.card-container .modal .modal-content .info-area img:before {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  opacity: 0.4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.card-container .modal .modal-content .info-area .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  height: 100%;
  width: 40%;
}

.card-container .modal .modal-content .info-area .description h3 {
  text-align: center;
}

.card-container .modal .modal-content .info-area .description .tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.card-container .modal .modal-content .info-area .description .tech img {
  width: 30px;
  height: 30px;
}

.card-container .modal .modal-content .info-area .description p {
  width: 80%;
}

.card-container .modal .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.card-container .modal .close:hover, .card-container .modal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=card.css.map */