@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
html, body, #root, .App, .home-page {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
}

html p, body p, #root p, .App p, .home-page p {
  padding: 0;
  margin: 0;
}

html .home-page, body .home-page, #root .home-page, .App .home-page, .home-page .home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
  border: solid 1px;
  background-color: #FDFDFD;
}

html .home-page .title, body .home-page .title, #root .home-page .title, .App .home-page .title, .home-page .home-page .title {
  background-image: url("./images/titl.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 400px;
  max-height: 600px;
}

html .home-page .content, body .home-page .content, #root .home-page .content, .App .home-page .content, .home-page .home-page .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
}

html .home-page .content .project-content, body .home-page .content .project-content, #root .home-page .content .project-content, .App .home-page .content .project-content, .home-page .home-page .content .project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .home-page .content .project-content .latest-works-title, body .home-page .content .project-content .latest-works-title, #root .home-page .content .project-content .latest-works-title, .App .home-page .content .project-content .latest-works-title, .home-page .home-page .content .project-content .latest-works-title {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

html .home-page .content .project-content .latest-works-title #chapter, body .home-page .content .project-content .latest-works-title #chapter, #root .home-page .content .project-content .latest-works-title #chapter, .App .home-page .content .project-content .latest-works-title #chapter, .home-page .home-page .content .project-content .latest-works-title #chapter {
  font-size: 30px;
}

html .home-page .content .project-content .latest-works-title #chapter-content, body .home-page .content .project-content .latest-works-title #chapter-content, #root .home-page .content .project-content .latest-works-title #chapter-content, .App .home-page .content .project-content .latest-works-title #chapter-content, .home-page .home-page .content .project-content .latest-works-title #chapter-content {
  font-size: 20px;
}

html .home-page .content .project-content .latest-works-content, body .home-page .content .project-content .latest-works-content, #root .home-page .content .project-content .latest-works-content, .App .home-page .content .project-content .latest-works-content, .home-page .home-page .content .project-content .latest-works-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

html .home-page .content .project-content .latest-works-content .card-container, body .home-page .content .project-content .latest-works-content .card-container, #root .home-page .content .project-content .latest-works-content .card-container, .App .home-page .content .project-content .latest-works-content .card-container, .home-page .home-page .content .project-content .latest-works-content .card-container {
  position: relative;
  margin: 30px;
}

html .home-page .content .project-content .latest-works-content .card-container .card, body .home-page .content .project-content .latest-works-content .card-container .card, #root .home-page .content .project-content .latest-works-content .card-container .card, .App .home-page .content .project-content .latest-works-content .card-container .card, .home-page .home-page .content .project-content .latest-works-content .card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  width: 150px;
  border-radius: 10px;
  min-width: 200px;
  background-color: #526274;
  -webkit-box-shadow: -2px 3px 5px #9b9b9b;
          box-shadow: -2px 3px 5px #9b9b9b;
}

html .home-page .content .project-content .latest-works-content .card-container .card .image-box, body .home-page .content .project-content .latest-works-content .card-container .card .image-box, #root .home-page .content .project-content .latest-works-content .card-container .card .image-box, .App .home-page .content .project-content .latest-works-content .card-container .card .image-box, .home-page .home-page .content .project-content .latest-works-content .card-container .card .image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 35%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

html .home-page .content .project-content .latest-works-content .card-container .card .image-box #chordify, body .home-page .content .project-content .latest-works-content .card-container .card .image-box #chordify, #root .home-page .content .project-content .latest-works-content .card-container .card .image-box #chordify, .App .home-page .content .project-content .latest-works-content .card-container .card .image-box #chordify, .home-page .home-page .content .project-content .latest-works-content .card-container .card .image-box #chordify {
  width: 80%;
  height: 100px;
}

html .home-page .content .project-content .latest-works-content .card-container .card:hover .image-box, body .home-page .content .project-content .latest-works-content .card-container .card:hover .image-box, #root .home-page .content .project-content .latest-works-content .card-container .card:hover .image-box, .App .home-page .content .project-content .latest-works-content .card-container .card:hover .image-box, .home-page .home-page .content .project-content .latest-works-content .card-container .card:hover .image-box {
  top: 10%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

html .home-page .content .project-content .latest-works-content .card-container .card .content-box, body .home-page .content .project-content .latest-works-content .card-container .card .content-box, #root .home-page .content .project-content .latest-works-content .card-container .card .content-box, .App .home-page .content .project-content .latest-works-content .card-container .card .content-box, .home-page .home-page .content .project-content .latest-works-content .card-container .card .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-family: 'Lobster', cursive;
  color: white;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-1%);
          transform: translateY(-1%);
}

html .home-page .content .project-content .latest-works-content .card-container .card .content-box p, body .home-page .content .project-content .latest-works-content .card-container .card .content-box p, #root .home-page .content .project-content .latest-works-content .card-container .card .content-box p, .App .home-page .content .project-content .latest-works-content .card-container .card .content-box p, .home-page .home-page .content .project-content .latest-works-content .card-container .card .content-box p {
  margin-bottom: 10px;
}

html .home-page .content .project-content .latest-works-content .card-container .card .content-box .button-group, body .home-page .content .project-content .latest-works-content .card-container .card .content-box .button-group, #root .home-page .content .project-content .latest-works-content .card-container .card .content-box .button-group, .App .home-page .content .project-content .latest-works-content .card-container .card .content-box .button-group, .home-page .home-page .content .project-content .latest-works-content .card-container .card .content-box .button-group {
  margin-bottom: 12px;
}

html .home-page .content .project-content .latest-works-content .card-container .card .content-box .but, body .home-page .content .project-content .latest-works-content .card-container .card .content-box .but, #root .home-page .content .project-content .latest-works-content .card-container .card .content-box .but, .App .home-page .content .project-content .latest-works-content .card-container .card .content-box .but, .home-page .home-page .content .project-content .latest-works-content .card-container .card .content-box .but {
  width: 80%;
  border: none;
}

html .home-page .content .project-content .latest-works-content .card-container .card:hover .content-box, body .home-page .content .project-content .latest-works-content .card-container .card:hover .content-box, #root .home-page .content .project-content .latest-works-content .card-container .card:hover .content-box, .App .home-page .content .project-content .latest-works-content .card-container .card:hover .content-box, .home-page .home-page .content .project-content .latest-works-content .card-container .card:hover .content-box {
  height: 240px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html .home-page .content .toolkit-content, body .home-page .content .toolkit-content, #root .home-page .content .toolkit-content, .App .home-page .content .toolkit-content, .home-page .home-page .content .toolkit-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .home-page .content .toolkit-content .toolkit-title, body .home-page .content .toolkit-content .toolkit-title, #root .home-page .content .toolkit-content .toolkit-title, .App .home-page .content .toolkit-content .toolkit-title, .home-page .home-page .content .toolkit-content .toolkit-title {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

html .home-page .content .toolkit-content .toolkit-title .toolkit-container #toolkit-h1, body .home-page .content .toolkit-content .toolkit-title .toolkit-container #toolkit-h1, #root .home-page .content .toolkit-content .toolkit-title .toolkit-container #toolkit-h1, .App .home-page .content .toolkit-content .toolkit-title .toolkit-container #toolkit-h1, .home-page .home-page .content .toolkit-content .toolkit-title .toolkit-container #toolkit-h1 {
  font-size: 30px;
}

html .home-page .content .toolkit-content .toolkit-title .toolkit-container #toolkit-h2, body .home-page .content .toolkit-content .toolkit-title .toolkit-container #toolkit-h2, #root .home-page .content .toolkit-content .toolkit-title .toolkit-container #toolkit-h2, .App .home-page .content .toolkit-content .toolkit-title .toolkit-container #toolkit-h2, .home-page .home-page .content .toolkit-content .toolkit-title .toolkit-container #toolkit-h2 {
  font-size: 20px;
}

html .home-page .content .toolkit-content .toolkit-works, body .home-page .content .toolkit-content .toolkit-works, #root .home-page .content .toolkit-content .toolkit-works, .App .home-page .content .toolkit-content .toolkit-works, .home-page .home-page .content .toolkit-content .toolkit-works {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
}

html .home-page .content .toolkit-content .toolkit-works .toolkit-container, body .home-page .content .toolkit-content .toolkit-works .toolkit-container, #root .home-page .content .toolkit-content .toolkit-works .toolkit-container, .App .home-page .content .toolkit-content .toolkit-works .toolkit-container, .home-page .home-page .content .toolkit-content .toolkit-works .toolkit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ebe4e4;
  border-radius: 10px;
  -webkit-box-shadow: -1px 3px 5px #9b9b9b;
          box-shadow: -1px 3px 5px #9b9b9b;
}

html .home-page .content .toolkit-content .toolkit-works .toolkit-container section, body .home-page .content .toolkit-content .toolkit-works .toolkit-container section, #root .home-page .content .toolkit-content .toolkit-works .toolkit-container section, .App .home-page .content .toolkit-content .toolkit-works .toolkit-container section, .home-page .home-page .content .toolkit-content .toolkit-works .toolkit-container section {
  padding: 20px;
}

html .home-page .content .toolkit-content .toolkit-works .toolkit-container section p, body .home-page .content .toolkit-content .toolkit-works .toolkit-container section p, #root .home-page .content .toolkit-content .toolkit-works .toolkit-container section p, .App .home-page .content .toolkit-content .toolkit-works .toolkit-container section p, .home-page .home-page .content .toolkit-content .toolkit-works .toolkit-container section p {
  font-family: 'Oswald', sans-serif, bold;
  text-align: center;
  font-size: 25px;
}

html .home-page .content .toolkit-content .toolkit-works .toolkit-container section ul, body .home-page .content .toolkit-content .toolkit-works .toolkit-container section ul, #root .home-page .content .toolkit-content .toolkit-works .toolkit-container section ul, .App .home-page .content .toolkit-content .toolkit-works .toolkit-container section ul, .home-page .home-page .content .toolkit-content .toolkit-works .toolkit-container section ul {
  font-family: 'Oswald', sans-serif;
  list-style: none;
  font-size: 15px;
  left: 0;
}
/*# sourceMappingURL=App.css.map */