@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
html,
body,
#root,
.App,
.home-page {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
}

html p,
body p,
#root p,
.App p,
.home-page p {
  padding: 0;
  margin: 0;
}

html .home-page,
body .home-page,
#root .home-page,
.App .home-page,
.home-page .home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
  border: solid 1px;
  background-color: #2d323d;
  position: absolute;
}

html .home-page .title,
body .home-page .title,
#root .home-page .title,
.App .home-page .title,
.home-page .home-page .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./images/titl.jpg");
  -webkit-filter: contrast(120%) sepia(10%);
          filter: contrast(120%) sepia(10%);
  background-size: inherit;
  background-repeat: inherit;
  background-position: center;
  width: 100%;
  min-height: 65%;
}

html .home-page .title main,
body .home-page .title main,
#root .home-page .title main,
.App .home-page .title main,
.home-page .home-page .title main {
  font-family: "Oswald", sans-serif;
  position: relative;
  top: -8%;
  height: 100%;
  width: 80%;
}

html .home-page .title main .title-content,
body .home-page .title main .title-content,
#root .home-page .title main .title-content,
.App .home-page .title main .title-content,
.home-page .home-page .title main .title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

html .home-page .title main .title-content .portolio-title p,
body .home-page .title main .title-content .portolio-title p,
#root .home-page .title main .title-content .portolio-title p,
.App .home-page .title main .title-content .portolio-title p,
.home-page .home-page .title main .title-content .portolio-title p {
  color: white;
}

html .home-page .title main .title-content .portolio-title p #position,
body .home-page .title main .title-content .portolio-title p #position,
#root .home-page .title main .title-content .portolio-title p #position,
.App .home-page .title main .title-content .portolio-title p #position,
.home-page .home-page .title main .title-content .portolio-title p #position {
  font-size: 40px;
  color: white;
}

html .home-page .title main .title-content .portolio-title p #location,
body .home-page .title main .title-content .portolio-title p #location,
#root .home-page .title main .title-content .portolio-title p #location,
.App .home-page .title main .title-content .portolio-title p #location,
.home-page .home-page .title main .title-content .portolio-title p #location {
  opacity: 0.6;
}

html .home-page .title main .title-content .Links,
body .home-page .title main .title-content .Links,
#root .home-page .title main .title-content .Links,
.App .home-page .title main .title-content .Links,
.home-page .home-page .title main .title-content .Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 30px;
  width: 20%;
  height: 50px;
}

html .home-page .title main .title-content .Links .images,
body .home-page .title main .title-content .Links .images,
#root .home-page .title main .title-content .Links .images,
.App .home-page .title main .title-content .Links .images,
.home-page .home-page .title main .title-content .Links .images {
  height: 100px;
}

html .home-page .title main .title-content .Links .images img,
body .home-page .title main .title-content .Links .images img,
#root .home-page .title main .title-content .Links .images img,
.App .home-page .title main .title-content .Links .images img,
.home-page .home-page .title main .title-content .Links .images img {
  padding: 5px;
  height: 30px;
  width: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

html .home-page .title main .title-content .Links .images img:hover,
body .home-page .title main .title-content .Links .images img:hover,
#root .home-page .title main .title-content .Links .images img:hover,
.App .home-page .title main .title-content .Links .images img:hover,
.home-page .home-page .title main .title-content .Links .images img:hover {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

html .home-page .content,
body .home-page .content,
#root .home-page .content,
.App .home-page .content,
.home-page .home-page .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

html .home-page .content .project-content,
body .home-page .content .project-content,
#root .home-page .content .project-content,
.App .home-page .content .project-content,
.home-page .home-page .content .project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

html .home-page .content .project-content .project-header,
body .home-page .content .project-content .project-header,
#root .home-page .content .project-content .project-header,
.App .home-page .content .project-content .project-header,
.home-page .home-page .content .project-content .project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  margin-bottom: 50px;
  background-color: #2d313a;
  -webkit-box-shadow: 0px 10px 99px #121418;
          box-shadow: 0px 10px 99px #121418;
}

html .home-page .content .project-content .project-header .images,
body .home-page .content .project-content .project-header .images,
#root .home-page .content .project-content .project-header .images,
.App .home-page .content .project-content .project-header .images,
.home-page .home-page .content .project-content .project-header .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  height: 60px;
  width: 90px;
}

html .home-page .content .project-content .project-header .images img,
body .home-page .content .project-content .project-header .images img,
#root .home-page .content .project-content .project-header .images img,
.App .home-page .content .project-content .project-header .images img,
.home-page .home-page .content .project-content .project-header .images img {
  height: 50px;
  width: 50px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

html .home-page .content .project-content .project-header .images img:hover,
body .home-page .content .project-content .project-header .images img:hover,
#root .home-page .content .project-content .project-header .images img:hover,
.App .home-page .content .project-content .project-header .images img:hover,
.home-page .home-page .content .project-content .project-header .images img:hover {
  height: 55px;
  width: 55px;
  -webkit-filter: brightness(120%) contrast(120%);
          filter: brightness(120%) contrast(120%);
}

html .home-page .content .project-content .project-header .images #javascript,
body .home-page .content .project-content .project-header .images #javascript,
#root .home-page .content .project-content .project-header .images #javascript,
.App .home-page .content .project-content .project-header .images #javascript,
.home-page .home-page .content .project-content .project-header .images #javascript {
  position: relative;
  top: 3px;
  height: 45px;
  width: 45px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

html .home-page .content .project-content .project-header .images #javascript:hover,
body .home-page .content .project-content .project-header .images #javascript:hover,
#root .home-page .content .project-content .project-header .images #javascript:hover,
.App .home-page .content .project-content .project-header .images #javascript:hover,
.home-page .home-page .content .project-content .project-header .images #javascript:hover {
  height: 50px;
  width: 50px;
}

html .home-page .content .project-content .project-header .images #react,
body .home-page .content .project-content .project-header .images #react,
#root .home-page .content .project-content .project-header .images #react,
.App .home-page .content .project-content .project-header .images #react,
.home-page .home-page .content .project-content .project-header .images #react {
  position: relative;
  top: 3px;
  height: 50px;
  width: 50px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

html .home-page .content .project-content .project-header .images #react:hover,
body .home-page .content .project-content .project-header .images #react:hover,
#root .home-page .content .project-content .project-header .images #react:hover,
.App .home-page .content .project-content .project-header .images #react:hover,
.home-page .home-page .content .project-content .project-header .images #react:hover {
  height: 55px;
  width: 55px;
  -webkit-animation: spin 6s linear infinite;
          animation: spin 6s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

html .home-page .content .project-content .latest-works-title,
body .home-page .content .project-content .latest-works-title,
#root .home-page .content .project-content .latest-works-title,
.App .home-page .content .project-content .latest-works-title,
.home-page .home-page .content .project-content .latest-works-title {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

html .home-page .content .project-content .latest-works-title #chapter,
body .home-page .content .project-content .latest-works-title #chapter,
#root .home-page .content .project-content .latest-works-title #chapter,
.App .home-page .content .project-content .latest-works-title #chapter,
.home-page .home-page .content .project-content .latest-works-title #chapter {
  color: #eeeded;
  font-size: 30px;
}

html .home-page .content .project-content .latest-works-title #chapter-content,
body .home-page .content .project-content .latest-works-title #chapter-content,
#root .home-page .content .project-content .latest-works-title #chapter-content,
.App .home-page .content .project-content .latest-works-title #chapter-content,
.home-page .home-page .content .project-content .latest-works-title #chapter-content {
  color: #eeeded;
  opacity: 0.7;
  font-size: 20px;
}

html .home-page .content .project-content .latest-works-content,
body .home-page .content .project-content .latest-works-content,
#root .home-page .content .project-content .latest-works-content,
.App .home-page .content .project-content .latest-works-content,
.home-page .home-page .content .project-content .latest-works-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px;
  width: 100%;
  height: 400px;
  max-height: 400px;
}

html .home-page .content .toolkit-content,
body .home-page .content .toolkit-content,
#root .home-page .content .toolkit-content,
.App .home-page .content .toolkit-content,
.home-page .home-page .content .toolkit-content {
  height: 100%;
  width: 100%;
  position: relative;
  top: 70px;
}

html .home-page .content .toolkit-content .toolkit-container,
body .home-page .content .toolkit-content .toolkit-container,
#root .home-page .content .toolkit-content .toolkit-container,
.App .home-page .content .toolkit-content .toolkit-container,
.home-page .home-page .content .toolkit-content .toolkit-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .home-page .content .toolkit-content .toolkit-container .toolkit-title,
body .home-page .content .toolkit-content .toolkit-container .toolkit-title,
#root .home-page .content .toolkit-content .toolkit-container .toolkit-title,
.App .home-page .content .toolkit-content .toolkit-container .toolkit-title,
.home-page .home-page .content .toolkit-content .toolkit-container .toolkit-title {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

html .home-page .content .toolkit-content .toolkit-container .toolkit-title #chapter,
body .home-page .content .toolkit-content .toolkit-container .toolkit-title #chapter,
#root .home-page .content .toolkit-content .toolkit-container .toolkit-title #chapter,
.App .home-page .content .toolkit-content .toolkit-container .toolkit-title #chapter,
.home-page .home-page .content .toolkit-content .toolkit-container .toolkit-title #chapter {
  color: #eeeded;
  font-size: 30px;
}

html .home-page .content .toolkit-content .toolkit-container .toolkit-title #chapter-content,
body .home-page .content .toolkit-content .toolkit-container .toolkit-title #chapter-content,
#root .home-page .content .toolkit-content .toolkit-container .toolkit-title #chapter-content,
.App .home-page .content .toolkit-content .toolkit-container .toolkit-title #chapter-content,
.home-page .home-page .content .toolkit-content .toolkit-container .toolkit-title #chapter-content {
  color: #eeeded;
  opacity: 0.7;
  font-size: 20px;
}

html .home-page .content .toolkit-content .toolkit-container .toolkit-cards,
body .home-page .content .toolkit-content .toolkit-container .toolkit-cards,
#root .home-page .content .toolkit-content .toolkit-container .toolkit-cards,
.App .home-page .content .toolkit-content .toolkit-container .toolkit-cards,
.home-page .home-page .content .toolkit-content .toolkit-container .toolkit-cards {
  margin-top: 50px;
  height: 400px;
  width: 80%;
  border-radius: 1px;
  background-color: #2d323d;
  -webkit-box-shadow: -2px 3px 5px #2c2c2c;
          box-shadow: -2px 3px 5px #2c2c2c;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

html .home-page .content .toolkit-content .toolkit-container .toolkit-cards:hover,
body .home-page .content .toolkit-content .toolkit-container .toolkit-cards:hover,
#root .home-page .content .toolkit-content .toolkit-container .toolkit-cards:hover,
.App .home-page .content .toolkit-content .toolkit-container .toolkit-cards:hover,
.home-page .home-page .content .toolkit-content .toolkit-container .toolkit-cards:hover {
  background-color: #2f3541;
}
/*# sourceMappingURL=App.css.map */